<% prefclass = case ms.pref
               when 'all'
                 'pref-all'
               when 'part'
                 'pref-part'
               else
                 ""
               end
%>

<div class="bib manuscript">
  <div class="ms-title">
    <span class="title">
      <%== doc_presenter.ms_title_html(ms) %>
      <% if ms.cite %>
        <span class="cite"><%= ms.cite %></span>
      <% end %>
    </span>.


    <% if ms.pref == 'all' %>
      <span class="<%= prefclass %>">(Pref. MS)</span>
    <% end %>
    <% if ms.pref == 'part' %>
      <span class="<%= prefclass %>">(Pref. MS for part of text)</span>
    <% end %>


    <% if ms.lalme %>
      <div class="lalme-laeme">
        <span class="lalme-laeme-label">LALME:</span>
        <span class="lalme-laeme"><%== doc_presenter.ms_lalme_html(ms) %></span>
      </div>
    <% end %>

    <% if ms.laeme %>
      <div class="lalme-laeme">
        <span class="lalme-laeme-label">LAEME:</span>
        <span class="lalme-laeme"><%== doc_presenter.ms_laeme_html(ms) %></span>
      </div>
    <% end %>
  </div>
</div>