<tr class="<%= c.alias_display %>">
  <td><%= c.name %></td>
  <td><%= c.count %></td>
  <td><%= c.date.strftime("%c") %></td>
  <td class="danger">
    <%= form_with url: admin_force_release_path, method: :get do |f| %>
      <%= f.hidden_field "collection", value: c.name %>
      <%= f.submit "Revert production to use this!" %>
    <% end %>
  </td>
</tr>