<div id="help_sidebar" class="<%= sidebar_classes %> help-sbar">
  <div class="sidebars">
    <h2><%= t('views.static.help.header') %></h2>
    <ul class="help-ul">
      <li>
        <a href="<%= static_path('help')%>"><%= t('views.static.help.general-heading') %></a>
      </li>
      <li><a href="<%= help_url('dictionary')%>">How to search the Dictionary</a></li>
      <li><a href="#bibliography">How to search the Bibliography</a></li>
      <li><a href="#quotation">How to search the Quotations</a></li>
      <li>
        <a href="#special-characters"><%= t('views.static.help.special-characters-heading') %></a>
      </li>
      <li>
        <a href="#operators"><%= t('views.static.help.operators-heading') %></a>
      </li>
    </ul>
  </div>
</div>
