<div id="help_sidebar" class="<%= sidebar_classes %> help-sbar">
  <div class="sidebars">
    <h2><%= t('views.static.help.header') %></h2>
    <ul class="help-ul">
      <li>
        <a href="<%= help_root_path %>"><%= t('views.static.help.general-heading') %></a>
      </li>
      <li><a href="<%= help_path('dictionary')%>">Dictionary searches</a></li>
      <li><a href="<%= help_path('bibliography')%>">Bibliography searches</a></li>
      <li><a href="<%= help_path('quotations')%>">Quotation searches</a></li>
      <li>
        <a href="<%= help_path('special_characters')%>"><%= t('views.static.help.special-characters-heading') %></a>
      </li>
      <li>
        <a href="<%= help_path('extended')%>"><%= t('views.static.help.operators-heading') %></a>
      </li>
    </ul>
  </div>
</div>
