<header class="site-header">
  <div id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">

    <div class="container container--full site-header-container">
      <div class="site-title-container">
        <a href="<%=root_path %>" class="site-link site-title-flex"><img class="site-logo" src="https://www.lib.umich.edu/falafel/v0/graphics/mlib_square__transparent.svg" alt="University of Michigan"><span class="site-title">Middle English Compendium</span></a>
      </div>
       <button type="button" class="navbar-toggle btn collapsed" data-toggle="collapse" data-target="#user-util-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>

      <%= area :skiplinks %>

      <div class="collapse navbar-collapse" id="user-util-collapse">
        <%= render :partial=>'/user_util_links' %>
      </div>
    </div>

    <div id="header-navbar-secondary" role="navigation">
      <div class="container container--full site-header-container">
            <%= render :partial=>'/secondary_util_links' %>
      </div>
    </div>

  </div>
</header>

<%= render :partial=>'/flash_msg' unless flash.empty? %>

<% if @current_action != 'home' %>
  <div class="search-bar--header">
      <div id="search-bar" class="container">
          <%= render_search_bar  %>
      </div>
  </div>
<% end %>