<%# header bar for doc items in index view -%>

<div class="documentHeader row">
  <%# main title container for doc partial view
      How many bootstrap columns need to be reserved
      for bookmarks control depends on size.
  -%>
  <% doc_presenter = index_presenter(document) %>
  <%# require 'pry'; binding.pry %>

  <% document_actions = capture do %>
    <%= render_index_doc_actions document, wrapping_class: "index-document-functions col-sm-3 col-lg-2" %>
  <% end %>

  <div class="col-md-12">
    <div class="entry-panel panel">

      <h3 class="index_title document-title-heading <%= document_actions.present? ? "col-sm-9 col-lg-10" : "col-md-12" %>">
        <% if counter = document_counter_with_offset(document_counter) %>
          <span class="document-counter">
            <%= t('blacklight.search.documents.counter', counter: counter) %>
          </span>
        <% end %>
        <% if document.has_key?('author') %>
          <span class="author"><%= doc_presenter.field_value('author') + ', ' %></span>
        <% end %>
        <% biblink = link_to_document(document, doc_presenter.title_html.html_safe, counter: counter) %>
        <span class="bib-title">
          <% if doc_presenter.incipit? %>
            "<%== biblink %>&hellip;" (incipit)
          <% else %>
            <%== biblink %>
          <% end %>
        </span>
        <% if doc_presenter.first_work %>
          <div class="work">[ <%== doc_presenter.first_work %> ]</div>
        <% end %>

      </h3>

      <div class="search-result def">
        <div class="definition-block">
          <div class="definition">
            <%= "#{doc_presenter.num_stencils} from #{doc_presenter.num_manuscripts}"
            %>
          </div>
        </div>

      </div>
    </div>
  </div>

  <%= document_actions %>
</div>



