<% doc_presenter = index_presenter(document) %>
<% bib = doc_presenter.bib %>

<div class="entry-panel bib-entry-panel">

  <%# Display Heading for Bib Entry %>
  <h2 class="entry-main-title">Middle English Bibliography Entry</h2>

  <%# Get title %>
  <div class="bib-heading">
    <div class="bib-container">
      <div class="entry-headword">
        <%== doc_presenter.title_html %>
      </div>
    </div>
  </div>

  <div>
    <h3 class="entry-intro-title">Entry Info</h3>
  </div>

  <div class="entry-info">
    <table class="table table-striped bib-table">
      <% unless doc_presenter.external_reference_kvpairs.empty? %>
        <tr>
          <td class="forms-title">External References:</td>
          <td>
            <% doc_presenter.external_reference_kvpairs.each do |kv| %>
              <div class="external-reference <%= kv.first %>">
                <span class="reftype"><%= kv.first %></span>
                <span class="refvalue"><%= kv.last %></span>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>

      <% if !bib.manuscripts.empty? and bib.manuscripts.any? {|ms| ms.ref != 'DOC'} %>
        <tr>
          <td class="forms-title">Manuscript, print, and LALME references:</td>
          <td> <%= render partial:    'bibliography/show_bib/ms',
                          collection: bib.manuscripts,
                          as:         :ms,
                          locals:     {doc_presenter: doc_presenter} %>

          </td>
        </tr>
      <% end %>
      <tr>
        <td class="forms-title">Editions, facsimiles, and other sources
          cited:
        </td>
        <td>
          <% doc_presenter.editions_xmls.each do |ed| %>
            <div class="edition"><%== ed %></div>
          <% end %>
          <% doc_presenter.e_editions_title_link_pairs.each do |tl|
            title = tl.first
            url = tl.last
          %>
            <div class="edition"><a href="<%=url %>" target="_blank"><%== title%><%=
              image_tag('external-link-blue.svg', alt: 'Opens in a new window') %></a></div>


          <% end %>
        </td>
      </tr>

      <tr>
        <td class="forms-title">MED title stencils and sources:</td>
        <td>
          <% doc_presenter.msgroups_xmls.each do |msg| %>
            <%== msg %>
          <% end %>
        </td>

      </tr>

      <% if doc_presenter.variants? %>

        <tr>
          <td class="forms-title">Variants taken from:</td>
          <td>
            <% doc_presenter.nokonode.xpath('//VARGROUP').each do |vargroup| %>
              <div class="VARGROUP">
                <%== doc_presenter.xsl_transform_from_node(
                         vargroup,
                         doc_presenter.vargroup_xsl) %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>

    </table>
  </div>

</div>

