<blockquote style="padding: 2em; border: 1px solid black;">Notes to UX:
  <p>This is file views/bibiography/_show_default.html.erb, where all the display of
    a single bib needs to go.</p>

  <p>We're going to need the width -- can we lose the empty left column (i.e., set
    .container max-width to auto) in favor of a wider table?</p>

  <p>(in fact, maybe lose the empty left column for a dict entry page as well.</p>
</blockquote>

<% doc_presenter = index_presenter(document) %>
<% bib = doc_presenter.bib %>


<style>
  li {
    margin-left: 1.5em;
    margin-bottom: 0.5em;
  }

  .pref-all, .pref-part {
    font-weight: bold;
  }

  .MSGROUP {
    font-weight: bold;
  }

  .MSGROUP ul {
    font-weight: normal;
  }

  .MSGROUP .USE {
    display: block;
    margin-top: 0.5em;
  }

  .note-title {
    font-weight: bold
  }

  div.edition {
    margin-bottom: 0.5em;
  }

  .MSGROUP .EDITION::before {
    content: ' :: '
  }

  .external-reference .reftype {
    font-style: italic;
  }

  .ms-lalme {
    margin-left: 1.5em
  }


</style>

<div class="entry-panel">

  <%# Display Heading for MED Entry %>
  <h2 class="entry-main-title">Middle English Bibliography Entry</h2>

  <%# Get headword and display it with quotes hide/show %>
  <div class="entry-heading">
    <div class="entry-container">
      <div class="entry-headword">
        <%== doc_presenter.title_html %>
      </div>
    </div>
  </div>


  <div>
    <h3 class="entry-intro-title">Entry Info</h3>
  </div>

  <div class="table-responsive entry-info">
    <table class="table table-striped">
      <% unless doc_presenter.external_reference_kvpairs.empty? %>
        <tr>
          <td class="forms-title">External References:</td>
          <td>
            <% doc_presenter.external_reference_kvpairs.each do |kv| %>
              <div class="external-reference <%= kv.first %>">
                <span class="reftype"><%= kv.first %></span>
                <span class="refvalue"><%= kv.last %></span>
              </div>
            <% end %>
            <span class="external-reference ipmep">
          </td>
        </tr>
      <% end %>

      <% if !bib.manuscripts.empty? and bib.manuscripts.any? {|ms| ms.ref != 'DOC'} %>
        <tr>
          <td class="forms-title">Manuscript, print, and LALME references:</td>
          <td> <%= render partial:    'bibliography/show_bib/ms',
                          collection: bib.manuscripts,
                          as:         :ms,
                          locals:     {doc_presenter: doc_presenter} %>

          </td>
        </tr>
      <% end %>
      <tr>
        <td class="forms-title">Editions, facsimiles, and other sources
          cited:
        </td>
        <td>
          <% doc_presenter.editions_xmls.each do |ed| %>
            <div class="edition"><%== ed %></div>
          <% end %>
        </td>
      </tr>

      <tr>
        <td class="forms-title">MED title stencils and sources:</td>
        <td>
          <% doc_presenter.msgroups_xmls.each do |msg| %>
            <%== msg %>
          <% end %>
        </td>

      </tr>

      <% if doc_presenter.variants? %>

        <tr>
          <td class="forms-title">Variants taken from:</td>
          <td>
            <% doc_presenter.nokonode.xpath('//VARGROUP').each do |vargroup| %>
              <div class="VARGROUP">
                <%== doc_presenter.xsl_transform_from_node(
                         vargroup,
                         doc_presenter.vargroup_xsl) %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>

    </table>
  </div>

</div>

