<%#= replace :head do %>
  <%#= link_to_repository %>
<% #end %>

<%= replace :skiplinks do %>
  <%= render 'catalog/index_skiplinks' %>
<% end %>

<%# require 'pry'; binding.pry %>

<%= replace :h1 do %>
MEC Bibliography Search
<% end %>

<div class="home-desc">
  Bibliography results include only the manuscripts and editions
  used in the compilation of the <%= link_to "Middle English Dictionary", :dictionary %>.
  For information about other manuscripts and editions, consult the other Middle
  English bibliiographies accessible through the <a href="">Middle English Compendium</a>.
</div>

<div class="search-bar-label">Seach for Bibliographic entries that include:</div>
<div class="search-bar--home">
  <%= render_search_bar  %>
</div>
