<%#= replace :head do %>
  <%#= link_to_repository %>
<% #end %>

<%= replace :skiplinks do %>
  <%= render 'catalog/index_skiplinks' %>
<% end %>

<%# require 'pry'; binding.pry %>

<section class="bib-home">
	<h1>MEC Bibliography Search</h1> 
	<div class="home-description">
	  Bibliography results include only the manuscripts and editions
	  used in the compilation of the <%= link_to "Middle English Dictionary", dictionary_home_path %>.
	  For information about other manuscripts and editions, consult the <a href="https://quod.lib.umich.edu/m/mec/resources.html" target="_blank">other Middle
    English bibliographies <%=image_tag('external-link-blue.svg', alt: 'Opens in a new window') %></a> accessible through the <a href="https://quod.lib.umich.edu/c/cme/" target="_blank">Middle English Compendium <%=image_tag('external-link-blue.svg', alt: 'Opens in a new window') %></a>.
	</div>

	<div class="search-bar-label">Search bibliographic entries:</div>
	<div class="search-bar--light-bg">
	  <%= render_search_bar  %>
	</div>
</section>
