<%# We pass in
        * the sense,
        * its index in the senses array (zero-based),
        * and the document presenter (for access to the #*_html methods).


      A sense has
        * a sense-number
        * a definition
        * zero or more EGs (citations/quotations)
        * a javascript mechanism for hiding/expanding the egs
%>

<%
  num_citations = sense.egs.flat_map(&:quotes).size
  uid = [sense.sense_number.to_s, index, 'toggle'].join('-')
%>

<div class="sense">
  <div class="entry-senses">
    <div class="sense-number"><%= sense.sense_number %>.</div>
      <div class="definition"><%== presenter.def_html(sense) %>

      <div class="quote-toggles">
        <a class="quote-toggle <%= uid %> open" href="#" onClick="$('.<%= uid%>').toggle(); return false">Show&nbsp;<%= num_citations %>&nbsp;<%= "Quotation".pluralize(num_citations) %></a>
        <a class="quote-toggle  <%= uid %> closer collapsed" href="#" onClick="$('.<%= uid%>').toggle(); return false">Hide&nbsp;<%= num_citations %>&nbsp;<%= "Quotation".pluralize(num_citations) %></a>
      </div>
    </div>
  </div>

  <div class="egs collapsed <%= uid %>">
    <h4>Associated quotations</h4>
    <% sense.egs.each do |eg| %>
      <div class="eg">
        <% if eg.subdef_entry and eg.subdef_entry =~ /\S/ %>
          <div class="subdef-entry-number"><%= eg.subdef_entry %></div>
        <% end %>
        <div class="citations">
          <ul>
            <% eg.citations.each do |cite| %>
              <li class="citation-list-item"><%== citation_html(cite) %></li>
            <% end %>
          </ul>
        </div>

      </div>
    <% end %>
  </div>

</div>
