<div id="help_sidebar" class="<%= sidebar_classes %> help-sbar">
  <div class="sidebars">
    <h2>Help</h2>
    <ul class="help-ul">
      <%= render partial: 'static/help_sidebar_link', locals: { path: 'help-med', label: "Using Middle English Dictionary" } %>
      <%= render partial: 'static/help_sidebar_link', locals: { path: 'help-hyperbib', label: "Using the HyperBibliography" } %>
      <%= render partial: 'static/help_sidebar_link', locals: { path: 'help-corpus', label: "Using the Corpus of Middle English" } %>
      <%= render partial: 'static/help_sidebar_link', locals: { path: 'help-general', label: "General advice on searching and using the forms" } %>
      <%= render partial: 'static/help_sidebar_link', locals: { path: '/', label: "Back to Search" } %>
    </ul>
  </div>
</div>
