<% @page_title = t('views.static.about-med.title') %>

<div class="container">
  <div>
    <%= render partial: 'about_sidebar' %>

    <div id="med" class="<%= main_content_classes %> about-middle-col">

      <h1 id="about">About the Middle English Compendium</h1>

      <p class="about-lg">The Middle English Compendium is a publication of
        the University of
        Michigan Library, the latest embodiment of the University's
        long-standing involvement in the study of Middle English. The
        Compendium has been designed to offer easy access to and some
        interconnectivity between three major Middle English electronic
        resources: an electronic version of the
        <em>Middle English Dictionary</em> (MED); a <em>Bibliography</em> of
        Middle English primary texts, limited to those cited by the MED and
        based on the MED bibliographies; and a searchable full-text
        <em>Corpus</em> of Middle English prose and verse.</p>

      <h3 id="med">The Middle English Dictionary</h3>

      <p>At the heart of the Compendium is a digital version of the Middle
        English Dictionary, which both reproduces and extends the print MED
        (issued in 115 parts and approximately 15,000 pages by the University
        of Michigan Press, 1952-2001). Those looking for an account of the
        print MED, both the history of the MED Project (1925-2000) and the
        policies, scope, and conventions of the dictionary as published,
        should probably begin with the MED's own
        <em>Plan and Bibliography,</em> 2nd edition, compiled by Robert E.
        Lewis and Mary Jane Williams (UM Press, 2007), "an indispensable
        guide to the complex and unexpectedly unstable text of the
        MED"<a href="#note1"><sup>1</sup></a>; followed by the special issue
        of <em>Dictionaries,</em> number 23 (2002), devoted in its entirety
        to a celebration of the completion of the print MED. Understanding
        the strengths and weaknesses, scope and limitations, and conventions
        and occasional reticence of the online MED requires some familiarity
        with those of the print, since the online version largely reproduces
        the print.</p>

      <p>The essential facts about the MED in both versions are:
      <ul class="about-list">
        <li>that it is wholly evidence-based, working from a fresh reading of
          approximately 3,000,000 quotations extracted from primary sources;
        </li>
        <li>that though it covers an historical period (roughly 1175-1500),
          the entries themselves are arranged more logically than
          historically (e.g. from concrete to figurative and from simple to
          extended senses, rather than from earlier senses to later ones);
        </li>
        <li>that the evidence it presents consists as much as possible of
          actual manuscript readings rather than editorial conjectures, the
          primary date assigned to that evidence being the date of the
          manuscript in question;
        </li>
        <li>that though it does not exclude any evidence, and is by far the
          most comprehensive treatment of Middle English vocabulary, the size
          of the Middle English extant corpus (and the fact that much of it
          remains unedited) mean that it cannot hope to be exhaustive;
        </li>
        <li>that like all dictionaries it needs to be taken as a careful
          assembling of incomplete evidence rather than as a final authority,
          to be used with caution, and with due regard to the likelihood of
          error and inconsistency;
        </li>
        <li>that when using the MED, a reader should also bear in mind the
          multilingual character of medieval Britain and the interlingual
          character of much of its vocabulary, ready when needed to consult
          sibling dictionaries of Scots, Continental and Anglo-French, and
          Latin at least, and sometimes Dutch, Norse, and Welsh as well;
        </li>
        <li>and that a reader should of course also bear in mind the larger
          history of individual words, by recourse as needed to the
          Dictionary oF Old English and the Oxford English Dictionary, as
          well as various etymological and specialist dictionaries.
        </li>
      </ul>
      </p>

      <h3>The online MED 2000</h3>

      <p>The online MED, on which work began in 1997 under the direction of
        Prof. Frances McSparran, and which was published for the first time
        in 2000, was a close facsimile of the print MED, with the exception
        that (1) a few incidental errors were corrected; (2) bibliographic
        details about quoted sources (manuscript dates and shelfmarks
        especially, as they were known in 2001) were updated and
        retroactively applied to the entire dictionary; and (3) many short
        citation forms ('stencils'), which in the print MED were often
        succinct to the point of being cryptic, were made to state some of
        their implicit information more verbosely and explicitly, e.g. which
        manuscript they referred to. The online MED was, however, careful to
        take no editorial liberties with the text of the MED, so that users
        accustomed to quoting the print Dictionary could use and quote the
        online version with confidence that they were quoting, in effect,
        'the same thing' --albeit in improved form.</p>

      <h3>Interim developments 2007-20014</h3>

      <p>In 2007, the online MED and its Bibliography, published initially on
        a subscription basis in order to recoup keying costs, were
        made free for all to use, without restriction or paywall; in the same year,
        the University of Michigan Press issued the final <em>Plan and Bibliography</em>
        (2nd ed.), which incorporated many bibliographic changes already
        reflected in the online bibliography. In 2013, it added a very
        incomplete set of links from MED entries to the corresponding entry
        in the Oxford English Dictionary (OED); in 2014, it similarly linked
        MED entries to corresponding entries in the Dictionary of Old English
        (DOE).</p>

      <h3>The online MED revised 2018</h3>

      <p>The revised MED, available for the first time now as a beta release
        in 2018, represents the first substantial changes to the MED for twenty
        years, thanks to a two-year grant (2016-18) awarded under the
        Humanities Collections and Reference Resources program of the
        National Endowment for the Humanities, matched by funds from the
        University of Michigan Library and an MED gift fund. The plan is that
        this effort will set in motion a process of ongoing revision, but our
        immediate goals have been to perform only the most urgent updates,
        publishing as much supplementary information as we can, even when we
        cannot afford to integrate it fully into the existing online
        Dictionary. At the very least we have been doing what Robert Lewis
        promised in 2007, "to correct our obvious errors, to append some
        additional quotations [and notes to] existing entries, and to add
        some entirely new entries in the electronic MED." We have been
        attaching to the appropriate entries additional quotes and notes
        taken chiefly from two sources: (1) about 20,000 "supplement slips"
        set aside over decades by the MED editors in hope that an MED
        Supplement would some day be compiled. These have hitherto lain
        largely inaccessible in boxes in the University archives. And (2) a
        much smaller number of new virtual supplement slips drawn from
        editorial notes in recent editions of ME texts, notes of the sort
        that typically declare, "this word (or sense, or spelling) is omitted by
        the MED"--in effect crowd-sourcing correction of the MED. This process
        has added (so far) about 10,000 quotations to the MED, bringing its
        total corpus of quotations to well over 900,000, as well as about
        2,000 new entries, which now total nearly 56,000.</p>


      <h4>The sources of our revision</h4>
      <table border="1" width="100%">
        <tr>
          <td style="width:50%">
            <a href="<%= asset_url('slip_1.jpg') %>"><img alt="New entry with an abundance of notes" src="<%= asset_url('slip_1.jpg') %>" width="100%"></a>
          </td>
          <td style="width:50%">
            <a href="<%= asset_url('slip_2.jpg') %>"><img alt="antedating of sense" src="<%= asset_url('slip_2.jpg') %>" width="100%"></a>
          </td>
        </tr>
      </table>


      <h4>Data changes</h4>

      <p>We have also continued the long process of removing artifacts of its
        print origins from the Dictionary, in favor of data that is more
        amenable to being searched and manipulated by computer. We are
        expanding some of the implicit and contracted spellings given in the
        print MED, thereby exposing them to search; and we are completing a
        nearly comprehensive map of MED to OED lemmas and sub-lemmas, thereby
        facilitating not only a seamless link to the corresponding OED entry
        but also a new lookup search of the MED itself by modern English
        equivalent (mostly to be identified with the OED headword).

        Our larger goal in publishing this revision is to transform the MED
        from an essentially static resource to an essentially dynamic one, in
        two respects, editorially, adding the ability to accept, store, and
        publish additions and corrections; and technically, moving MED to
        something as close as possible to an 'off-the-shelf' software
        platform, allowing for frequent updates and future migration of the
        Dictionary and Compendium data to new platforms (to avoid technical
        obsolescence) and new functionality, which eventually should allow
        the data to be opened up for reuse by other products and projects,
        thus fulfilling the vision that we always had for the MEC as a node
        in a network of historical dictionaries, electronic editions, text
        portals, and other linguistic resources.

      <hr>

      <h3 id="bib">"Hyper"Bibliography of Middle English</h3>

      <p>The second component of the Compendium triad is the Bibliography.
        The MED Bibliography includes, by intention at least, all the Middle
        English materials and texts which are cited in the Middle English
        Dictionary. Although this bibliography is not exhaustive, it offers
        what we believe to be the most comprehensive single list of these
        materials available. At its core are the two lists of sources
        published by the MED as its original <em>Plan and Bibliography</em> (1954)
        and its supplementary <em>Plan and Bibliography, Supplement 1</em>
        (1984), but including also additions and changes made in the final
        volumes of the print MED, but not documented in print form till the
        publication of the <em>Plan and Bibliography,</em> second edition
        (2007), with which it was co-developed. As it appeared for the first
        time in 2000, under the title (very much of its time)
        "HyperBibliography of Middle English," the MED Bibliography
        represented a considerable expansion on the bare handlists issued in
        print: it added references to some major reference works (the
        <em>Manual of Writings in Middle English</em>; the
        <em>Index of Printed ME Prose</em>; the
        <em>Index of Middle English Verse</em>); spelled out the printed and
        manuscript sources for variant readings more fully; updated
        shelfmarks and repository names and expressed them more verbosely;
        and in many cases added a localization to the manuscript lists based
        on the findings of the <em>Linguistic Atlas of Late Middle English</em>
        (LALME) , to which it provided a reference. Functionally, the online
        Bibliography served not only as a searchable list of manuscripts,
        works, and editions, but also as what librarians call an "authority
        file," a set of abbreviated bibliographic references which provide
        the authoritative form of those used in the Dictionary, and a
        centralized file of expansions and explanations to which every
        citation in the Dictionary could potentially link, and almost all
        did.</p>

      <h3>Revised Bibliography, 2018</h3>

      <p>The revisions to the Bibliography have been less dramatic than those
        to the MED itself: a few errors have been corrected; a few obsolete
        MS shelfmarks have been updated; but most of the changes have been
        simple additions: more than a hundred new editions, mostly those that
        have appeared in the last two decades, have been added, containing
        about three hundred new works, bringing the total to about 5,850 and
        rising, and nearly a thousand new "stencils" (permutations of work,
        manuscript, and edition), the necessary framework for citing newly
        available evidence in the MED.</p>

      <p>Most of the changes to the Bibliography, as to the Dictionary,
        reflect its transformation from a static list of works quoted into a
        constantly renewable and updatable resource. The Bibliography now at
        least acknowledges, though it has not yet made full use of,
        large-scale digital repositories such as the
        <em>Parliament Rolls</em> and the
        <em>Middle English Local Documents</em> database (MELD), as well as
        recent specialist dictionaries such as J. Norri's
        <em>Dictionary of Medical Vocabulary </em>. There are now 'hooks' in
        the Bibliography structure to which additional cross-references to
        reference works will in time be attached (allowing links especially
        to the <em>Digital Index of Middle English Verse</em> (DIMEV), the
        <em>New Index of Middle English Verse</em> (NIMEV), the
        <em>Index of Middle English Prose</em> (IMEP), and the
        <em>Linguistic Atlas of Early Middle English</em> (LAEME), all of
        which are designed to facilitate navigation amongst these essential
        resources. And a cooperative effort has been undertaken with the
        staff of the Oxford English Dictionary to coordinate the re-dating of
        manuscripts in tandem, not only so as to make our testimony agree,
        but to facilitate greater integration between MED and OED.</p>

      <hr>

      <h3 id="corpus">Corpus of Middle English Prose and Verse</h3>

      <p>The third component of the Compendium, the Corpus, does not pretend
        to be a "corpus" as a linguist would define it, but is simply a
        collection of searchable Middle English text, assembled, indexed, and
        made searchable, created largely by re-keying and adding basic
        structural markup to out-of-copyright (public domain) editions. This
        principle of selection allows the Library to distribute it as a
        public service without fee or
        restriction.<a href="#note2"><sup>2</sup></a> The body of quotations
        cited by the MED constitutes a searchable corpus in its own right;
        the full-text Corpus component of the Compendium is intended as
        ancillary to that, allowing one, for example, to search for phrases
        and collocations in a larger body of material. </p>

      <h4>Growth of the Corpus</h4>
      <p>The original Corpus consisted of 61 searchable texts. In 2000, 85
        additional texts, transcribed from modern editions, were produced
        thanks to a generous grant from the Gladys Krieble Delmas Foundation,
        many of them among the largest and most significant monuments of
        Middle English, including the Wycliffite Bible, both versions of
        Higden's Polychronicon, Cursor Mundi, both versions of Guy of
        Warwick, the chronicles of Robert Mannyng and Robert of Gloucester,
        two versions of Mandeville's travels, Hoccleve's Regiment of Princes,
        the A, B, and C texts of Piers Plowman, the Pricke of Conscience, the
        Ormulum, and numerous saints' legends, including the Laud MS of the
        South English Legendary. The texts added in 2000 also included the
        complete Chaucer Society "6-text" edition of the Canterbury Tales.
        For the 2018 revision, we have added both large canonical texts (6
        Chaucer Society transcripts of individual manuscripts of Chaucer's
        Troilus), and a host of smaller texts, many in underrepresented
        genres: a total of 144 new texts, including recipes, account rolls,
        romances, sermons, legends, inventories, inventories, chronicles,
        proverbs, and Wycliffite tracts. The new Corpus, though still not a
        balanced selection of Middle English, is much more representative of
        the extant literature than it was. And it will continue to welcome
        new submissions that meet its primary criteria: accuracy, relevance,
        and freedom from copyright entanglements.</p>

      <hr>

      <h3 id="acknowledgements">Acknowledgments</h3>
      <h3>Ongoing support</h3>
      <p>The MEC is maintained by the staff and with the support of the
        University of Michigan Library.</p>
      <h3>2018 Revision</h3>
      <p>Revision of the MEC was funded in part by a two-year grant (2016-18)
        awarded under the Humanities Collections and Reference Resources
        program of the National Endowment for the Humanities, matched by
        funds from the University of Michigan Library and an MED gift
        fund.</p>
      <h3>Digital conversion</h3>
      <p>The creation of the Compendium in 1997-1998 was funded in part by a
        grant from the National Endowment for the Humanities, with support
        also provided by the University of Michigan Library and the
        University of Michigan Press. The keying of ME texts for the Corpus
        in 2000 was funded by a generous grant from the Gladys Krieble Delmas
        Foundation.</p>
      <h3>The MED project</h3>
      <p>The 70-year Middle English Dictionary project drew on support from
        (and probably exhausted the patience of) many agencies and
        individuals over that span, both internal and external, to an extent
        that can only be hinted at here. The very earliest stages were
        sponsored by the Modern Language Association and funded by the
        Heckscher Foundation at Cornell University. Supporters at the
        University of Michigan (from 1930 on) included the Horace H. Rackham
        Foundation, the Office of the Vice President for Research, and the
        Department of English. External supporters included the Rockefeller
        Foundation (early on, via the American Council of Learned Societies);
        the Andrew Mellon Foundation (three large grants); the National
        Endowment for the Humanities (no less than six grants); and a group
        of individual scholars known as the Friends of the MED, with
        substantial seed money given generously by Richard Diebold.
        Contributions in kind included quotation slips and other Middle
        English materials donated by the heirs of Prof. Ewald Fl&#x00FC;gel,
        and the 430,000 Middle English quotation slips collected for the OED
        and transferred by Oxford University Press to the University of
        Michigan in bulk. Most recently, OED and MED have agreed on a regular
        data exchange, each having access to an updated digital copy of the
        other's work in its entirety.
      <hr>

      <h3 id="notes">Notes</h3>
      <p id="note1"><sup>1</sup> Review of the <em>Plan and Bibliography</em>
        by Michael Adams,
        <em>Dictionaries: Journal of the Dictionary Society of North
          America</em> 29 (2008), 66.</p>
      <p id="note2"><sup>2</sup> The few exceptions are noted in the
        statement of availability attached to each work.</p>
    </div>
  </div>
</div>
