<% @page_title = t('views.static.help.title') %>

<div class="container help-container">
  <div>
    <%= render partial: 'static/help/sidebar' %>

    <div id="med" class="<%= main_content_classes %> about-middle-col">

      <h1 id="about"><%= t('views.static.help.header') %></h1>

      <h2 id="general">General search information</h2>

      <p>Searches in all three sections (Dictionary, Bibliography, and
        Quotations) treat words separately, as keywords. An "Entire
        entry"
        search in the Dictionary for
        <em>king of arms</em> will find over 45,000 entries that contain at
        least
        one of the three words <em>king</em>, <em>of</em>, or <em>arms</em>.
        If you want to find entries with the exact phrase
        "king of arms" use quotation marks around the phrase.</p>

      <p>In all cases, entries that are judged as more relevant will be at
        the top of the results list.</p>

      <p>Each of the three search sections allow searching across a variety of
      fields and provide more complex search options when needed. Use the links on the left or
      below to find out more.</p>

      <ul class="help-enum">
        <li>
          <a href="<%= help_root_path %>"><%= t('views.static.help.general-heading') %></a>
        </li>
        <li><a href="<%= help_path('dictionary')%>">Dictionary searches</a></li>
        <li><a href="<%= help_path('bibliography')%>">Bibliography searches</a></li>
        <li><a href="<%= help_path('quotations')%>">Quotation searches</a></li>
        <li>
          <a href="<%= help_path('special_characters')%>"><%= t('views.static.help.special-characters-heading') %></a>
        </li>
        <li>
          <a href="<%= help_path('extended')%>"><%= t('views.static.help.operators-heading') %></a>
        </li>
      </ul>






    </div>
  </div>
</div>
