<% @page_title = t('views.static.help.title') %>

<div class="container help-container">
  <div>
    <%= render partial: 'static/help/sidebar' %>

    <div id="med" class="<%= main_content_classes %> about-middle-col">

      <h1 id="about"><%= t('views.static.help.header') %></h1>

      <h2 id="general">General search information</h2>

      <p>Searches in all three sections (Dictionary, Bibliography, and
        Quotations) treat words separately, as keywords. An "Entire
        entry"
        search in the Dictionary for
        <em>king of arms</em> will find over 45,000 entries that contain at
        least
        one of the three words <em>king</em>, <em>of</em>, or <em>arms</em>.
        If you want to find entries with the exact phrase
        "king of arms" use quotation marks around the phrase.</p>

      <p>In all cases, entries that are judged as more relevant will be at
        the top of the results list.</p>

      <h2 id="dictionary">How to Search the Dictionary</h2>

      <p>Dictionary searches allow you to search within the parts of an entry
        (such as headwords and forms, etymology or label, definition,
        quotations). You can also find Middle English
        words relevant to your area of interest (e.g., looking for
        definitions that include the Modern English word "love" will help
        find Middle English words related to various kinds of love).</p>

      <p>A Dictionary search will retrieve dictionary entries that match your
        terms.</p>

      <h3>Dictionary search types</h3>
      <dl>
        <dt>Entire entry</dt>
        <dd>A search of the entire entry will retrieve all entries containing
          the word or phrase, text, author, date, etc.(or a combination of
          these) you specify; search items could appear in any of the parts
          of the entry (form section, definition, quotation, notes, etc.).
        </dd>


        <dt>Headword (with alternate spellings) <em>[Default]</em></dt>
        <dd>A search within headword (with alternate spellings) searches for
          your word in all orthographic forms and alternative spellings
          recorded in the form section.
        </dd>

        <dt>Headword (preferred spelling only)</dt>
        <dd>Searching within headword (preferred spelling only) is a
          traditional dictionary lookup and matches your word exactly.
        </dd>


        <dt>Definition and Notes</dt>
        <dd>A definition and notes search will retrieve all entries in which
          the definitions contain the words, phrases or labels you specify.
          Definitions are in modern English, though they may include
          illustrative phrases in Middle English.
        </dd>

        <dt>Etymology</dt>
        <dd>An etymology search will retrieve all entries whose etymological
          statements contain the specified search term(s), e.g., an etymon,
          cognates, dialect or modern equivalents, etc. It may be used to
          retrieve any part of the contents of an etymological statement.
        </dd>

        <dt>Associated quotes and manuscripts</dt>
        <dd>Searching within associated quotes and manuscripts will find
          entries that contain the
          search term anywhere within the quotations cited to illustrate a
          particular sense of the word and the abbreviated forms (or
          stencils) used to refer to the works in which the quotations are
          found.
        </dd>

        <dt>Modern English</dt>
        <dd>A modern English search will attempt to find an entry that has
          been linked with an OED entry using that headword. Note that not
          all MED entries have a related OED entry.
        </dd>

      </dl>

      <h2 id="bibliography">How to Search the Bibliography</h2>
      <p>Bibliography searches allow you to search entries containing
        descriptions of the authors, works, manuscripts, and editions cited
        in
        the Middle English Dictionary. The Bibliography also defines the
        abbreviated forms (or stencils) used to refer to these works and
        provides cross-references to major reference sites to allow further
        study.</p>

      <p>
        A Bibliography search will retrieve bibliographic entries that match
        your terms.</p>

      <h3>Bibliography search types</h3>

      <dl>


        <dt>Entire entry <em>[Default]</em></dt>
        <dd>
          <p>Entire entry searches finds words or phrases anywhere in a
            Bibliography entry.</p>
          <p>Searching on <em>EETS</em>, for example, will retrieve all
            entries that
            include Early English Text Society editions.</p>
        </dd>

        <dt>Author/Title</dt>
        <dd>
          <p>Use an author/title search to find entries for works by known
            medieval authors or works by known title. Parts of titles will
            find
            matches in this search.</p>

          <p>Note that anonymous works are not so identified and must be
            searched by title or other identifier and that MED identifies
            many
            works not by a title but by an 'incipit' or beginning phrase from
            the work.
          </p>
        </dd>


        <dt>External References</dt>
        <dd>
          <p>An external references search allows you to search by a citation
            number (for example, IPMEP 346) from the following
            bibliographies:</p>

          <ul class="help-enum">
            <li><strong>DIMEV</strong>: Linne R. Mooney, Daniel W. Mosser and
              Elizabeth Solopova.
              The DIMEV: An Open-Access, Digital Edition of the Index of
              Middle
              English Verse. www.dimev.net, 2010.
            </li>
            <li><strong>IMEV</strong>: C. Brown and R. H. Robbins. The Index
              of Middle English
              Verse. New York: Columbia University Press, 1943. R. H. Robbins
              and
              J. L. Cutler. Supplement. Lexington: University of Kentucky
              Press,
              1965.
            </li>
            <li><strong>IPMEP</strong>: R. E. Lewis, N. F. Blake, and A. S.
              G. Edwards. Index of
              Printed Middle English Prose. New York: Garland, 1985.
            </li>
            <li><strong>Jolliffe</strong>: P. S. Jolliffe A Checklist of
              Middle English Prose
              Writings of Spiritual Guidance. Toronto: Pontifical Institute
              of
              Mediaeval Studies, 1974.
            </li>
            <li><strong>Manual</strong>: A Manual of the Writings in Middle
              English, 1050-1500. Gen.
              eds. J. B. Severs, A. E. Hartung. New Haven, Conn.: Connecticut
              Academy of the Arts and Sciences, 1967 -- .
            </li>
            <li><strong>NIMEV</strong>: Julia Boffey and A. S. G Edwards. A
              New Index of Middle
              English Verse. London: British Library, 2005.
            </li>
            <li><strong>Wells</strong>: J. E. Wells. A Manual of the Writings
              in Middle English,
              1050-1400. New Haven, Conn.: Connecticut Academy of the Arts
              and
              Sciences, 1916. J. E. Wells, et al. Supplements [9]. 1919-1952.
            </li>
          </ul>
        </dd>


        <dt>LALME/LAEME</dt>
        <dd><p>A LALME/LAEME search finds texts and manuscripts quoted in the
          Dictionary and copied in a scribal dialect identified by the
          Linguistic Atlas of Late Middle English (LALME) or Linguistic Atlas
          of Early Middle English (LAEME).</p>
          <p>You may search by Linguistic Profile number, if known, by
            county, and
            also by terms which may be included in LALME information
            ("northern,"
            "East Anglian," "main hand," "hand A," etc.)</p></dd>


        <dt>Manuscripts</dt>
        <dd>Use manuscripts searches for identifying works in specific
          manuscripts, libraries, or collections. The collection alone (e.g.,
          Harley) will retrieve a list of possibly matching manuscripts;
          combined with the shelfmark (e.g., "Harley 2253"), it will yield a
          list of all works from the specified manuscript.
        </dd>


        <dt></dt>
        <dd>


        </dd>


      </dl>

      <h2 id="quotations">How to Search the Quotations</h2>
      <p>Searches within Quotations allow you to find a specified word,
        phrase, or combination of words within the Middle English quotations
        illustrating each dictionary entry, which collectively comprise a
        corpus of nearly a million snippets of Middle English. </p>
      <p>A Quotation search will retrieve quotations that match your terms.
        Quotation results contain a link to the Dictionary entry that cites
        the quotation and the Bibliography entry for the work that contains
        it</p>

      <h3>Quotations search types</h3>

      <dl>

        <dt>Quotations including citation</dt>
        <dd>
          Searching for Quotations including citation will retrieve
          quotations that contain your search term anywhere, both in the text
          of the quotation and in the bibliographic information attached to
          it. A search for Cambridge will find quotations that are cited in
          The University of Cambridge from the Earliest Times to the Royal
          Injunctions of 1535 and quotations that contain the word Cambridge.

        </dd>


        <dt>Quotations text only</dt>
        <dd>
          Searching within Quotations text only will only retrieve your
          search term within the Middle English quotations

        </dd>

      </dl>


      <h2 id="special-characters"><%= t('views.static.help.special-characters-heading') %></h2>

      <p>The keyboard icon
        (<%= image_tag('keyboard-grey.svg', alt: 'Drop down menu for special character selection') %>
        )
        next to the search box can be used to enter special characters
        directly. You may
        also substitute characters on a standard US keyboard, as shown below.
        Thus,
        for example, a search for <em>Þē̆de</em> is the exact same search as
        one
        for <em>thede</em></p>

      <p>For
        search purposes, the following sets of characters are considered
        equivalent:</p>

      <ul id="character-translation" class="help-enum">
        <li>Þ þ (thorn) ↔ th</li>
        <li>Ð ð (eth) ↔ d</li>
        <li>Ȝ ȝ (yogh) ↔ z</li>
        <li>Æ æ (ash) ↔ AE</li>
        <li>Any accented character (e.g., ô,ī,ẹ̄, etc.) and its non-accented
          version (o, i, e, etc.)
        </li>
        <li>Any other ligatures and its
          two-character equivalent (e.g., Œ ↔ OE)
        </li>
        <li>j ↔ y ↔ i</li>
        <li>u ↔ v</li>
      </ul>


      <table>
        <tr>
          <th>Search goal</th>
          <th>Syntax</th>
          <th>
            Examples / Notes
          </th>
        </tr>
        <tr>

          <td>Find any of several words</td>
          <td>
            Enter separated by spaces
          </td>
          <td>
            <strong>man woman child</strong> will find entries that have any of those three terms.
            
          </td>
        </tr>
        <tr>

          <td>Find exact phrase</td>
          <td>
            Enclose in double quotes
          </td>
          <td>
            <strong>“man and woman”</strong> will only match when those three terms
              appear next to each other in that order. Note that the "and" here is <em>not</em>
            a boolean search operator.
            
          </td>
        </tr>
        <tr>

          <td>Search for a prefix (using wildcard)</td>
          <td>

            Append an asterisk (*)

          </td>
          <td><strong>hel*</strong> will find entries that contain a term that begins with <strong>hel</strong></td>
        </tr>
        <tr>

          <td>Allow one ambiguous character</td>
          <td>

            Use a question mark (?) to indicate “any character”

          </td>
          <td>
            <strong>w?man</strong> will match any of woman, wyman, etc.
          </td>
        </tr>
        <tr>

          <td>Find words near each other (proximity search)</td>
          <td>
            Enclose in quotes and append, e.g.,  ‘~4’ (where “4” is the maximum
              number of other words between words in your phrase
            
          </td>
          <td>
            <strong>“man woman”~5</strong> will find all occurrences of <strong>man</strong> and <strong>woman</strong>
              within 5 words of each other (regardless of ordering)
            
          </td>
        </tr>
        <tr>

          <td>Use a more complex AND/OR/NOT query (boolean search)</td>
          <td>
            Use upppercase AND/OR/NOT in your query. You may also use
              parentheses to group.
            
          </td>
          <td>
            <p><strong>“How darst” AND lord</strong> will return only things with both the
              phrase <strong>“how darst”</strong> and the word <strong>“lord”</strong></p>

            <p><strong>(man AND woman) OR helle</strong> must have both “man” and “woman” or the word
              “helle”</p>
            <p>Note that NOT can be used with other terms
              (<strong>helle NOT devil</strong>) or by itself, e.g., <strong>NOT Chaucer</strong></p>
            
          </td>
        </tr>
        <tr>

          <td>
            Return all entries for whichever section (dictionary,
              bibliography, quotations) you’re in
            
          </td>
          <td>
            Press the search button while the search field is empty
            
          </td>
          <td>
            This can be useful if you want to just narrow entries using the filters on
              the left.
            
          </td>
        </tr>
        <tr>

          <td>Search for a phrase using a wildcard</td>
          <td>
            Not supported by the search engine used by the MED
          </td>
          <td>
            <strong>“man and wom*”</strong> or <strong>“man and w?man”</strong> (BOTH UNSUPPORTED)
          </td>
        </tr>
        <tr>

          <td>Find suffixes with a wildcard</td>
          <td>
            Not supported by the search engine used by the MED
          </td>
          <td>
            <strong>*ly</strong> (UNSUPPORTED)
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
