<header class="site-header">
  <div id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container container--full site-header-container">
      <div class="site-title-container">
        <a href="<%=root_path %>" class="site-link site-title-flex"><img class="site-logo" src="https://www.lib.umich.edu/falafel/v0/graphics/mlib_square__transparent.svg" alt="University of Michigan"><span class="site-title">Middle English Dictionary</span></a>
      </div>
       <button type="button" class="navbar-toggle btn collapsed" data-toggle="collapse" data-target="#user-util-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="user-util-collapse">
       <%= render partial: 'shared/nav/search' %>
       <%= render partial: 'shared/nav/about' %>
       <%= render partial: 'shared/nav/help' %>
       <%= render partial: 'shared/nav/contact' %>
      </div>
    </div>
  </div>
</header>