<%# header bar for doc items in index view -%>
<div class="documentHeader row">
  <%# main title container for doc partial view
      How many bootstrap columns need to be reserved
      for bookmarks control depends on size.
  -%>
  <% doc_presenter = index_presenter(document) %>

  <% document_actions = capture do %>
    <%= render_index_doc_actions document, wrapping_class: "index-document-functions col-sm-3 col-lg-2" %>
  <% end %>

  <div class="col-md-12">
    <div class="entry-panel panel">

      <h3 class="index_title document-title-heading <%= document_actions.present? ? "col-sm-9 col-lg-10" : "col-md-12" %>">
        <% if counter = document_counter_with_offset(document_counter) %>
          <span class="document-counter">
            <%= t('blacklight.search.documents.counter', counter: counter) %>
          </span>
        <% end %>
        <%= link_to_document document, doc_presenter.highlighted_official_headword, counter: counter %>
        <span class="index-pos"><%== doc_presenter.part_of_speech_abbrev %></span>
      </h3>

      <div class="search-result def">
        <% if hos = doc_presenter.highlighted_other_spellings and hos.count > 0 %>
          <div class="index-spellings">Additional spellings: <span class="index-spellings--em"><%== hos.join(', ') %></span></div>
        <% end %>

        <div class="index-quotes-line">
          <%= "#{doc_presenter.quote_count} quotation".pluralize(doc_presenter.quote_count) + " in #{doc_presenter.senses.count}" + " sense".pluralize(doc_presenter.senses.count) %>
        </div>


        <div class="definition-block">
          <% sense = doc_presenter.senses.first %>
          <% unless sense.nil? %>
            <%# Trim it down to 300 chars, to the nearest space-break %>
            <% cdef = doc_presenter.def_html(sense).truncate(200) %>
            <div class="def-header">Sense / Definition</div>
            <div class="definition"><%== cdef %><%= link_to("\u2026", document) %></div>
          <% else %>
            <div class="definition no-definition">No definition available</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= document_actions %>
</div>
