<%# header bar for doc items in index view -%>
<div class="documentHeader row">
  <%# main title container for doc partial view
      How many bootstrap columns need to be reserved
      for bookmarks control depends on size.
  -%>
  <% doc_presenter = index_presenter(document) %>
  <% entry = doc_presenter.entry %>

  <% document_actions = capture do %>
    <% # bookmark functions for items/docs               -%>
    <%= render_index_doc_actions document, wrapping_class: "index-document-functions col-sm-3 col-lg-2" %>
  <% end %>

  <h3 class="index_title document-title-heading <%= document_actions.present? ? "col-sm-9 col-lg-10" : "col-md-12" %>">
    <% if counter = document_counter_with_offset(document_counter) %>
      <span class="document-counter">
        <%= t('blacklight.search.documents.counter', counter: counter) %>
      </span>
    <% end %>
    <%= link_to_document document, doc_presenter.highlighted_official_headword, counter: counter %>
    (<%== document.fetch('pos') %>)
    <span><%= entry.id %></span>
  </h3>

  <div class="search-result def col-md-12">
    <% if hos = doc_presenter.highlighted_other_spellings and hos.count > 0 %>
      <div>Possible other spellings: <%== hos.join(', ') %></div>
    <% end %>

    <div style="margin-bottom: 1em;"><%= entry.quotes.count %> quotation(s)
      we need to figure out what to
      do with
    </div>
    <% if document.has_field?("definition_xml") %>
      <% if doc_presenter.senses.count == 1 %>
        <div>
          <% sense = doc_presenter.senses.first %>
          <% if sense.has_initial_def? %>
            <%== sense.initial_def %>
          <% end %>
          <% if sense.has_lettered_defs? %>
            <ol type="a">
              <% sense.sub_definitions.each do |subdef| %>
                <li>
                  <%== subdef.definition_xml.gsub(/\s*\~\s*/, " #{doc_presenter.normalized_headword} ") %>
                </li>
              <% end %>
            </ol>
          <% end %>
        </div>
      <% else %>
        <ol>
          <% doc_presenter.senses.each do |sense| %>
            <li>
              <% if sense.has_initial_def? %>
                <%== sense.initial_def %>
              <% end %>
              <% if sense.has_lettered_defs? %>
                <ol type="a">
                  <% sense.sub_definitions.each do |subdef| %>
                    <li>
                      <%== subdef.definition_xml.gsub(/\s*\~\s*/, " #{doc_presenter.normalized_headword} ") %>
                    </li>
                  <% end %>
                </ol>
              <% end %>
            </li>
          <% end %>
        </ol>
      <% end %>

    <% end %>

  </div>



  <%= document_actions %>
</div>
