<%= form_tag search_action_url(only_path: true ), method: :get, class: 'search-query-form clearfix navbar-form', role: 'search' do %>
  <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>
  <div class="input-group">
    <% if search_fields.length > 1 %>
      <span class="input-group-addon for-search-field">
        <label for="search_field" class="sr-only"><%= t('blacklight.search.form.search_field.label') %></label>
        <% selected = params[:search_field]
           default = blacklight_config.search_fields.find{|x| x.last[:default]}
           selected = selected || (default && default.last.key) || search_fields.first.first
          %>
        <%= select_tag(:search_field,
                       options_for_select(search_fields, h(selected)),
                       title: t('blacklight.search.form.search_field.title'),
                       id: "search_field",
                       class: "search_field") %>
      </span>
    <% elsif search_fields.length == 1 %>
      <%= hidden_field_tag :search_field, search_fields.first.last %>
    <% end %>

    <div class="search-input-group">
      <label for="q" class="sr-only"><%= t('blacklight.search.form.search.label') %></label>
      <%= text_field_tag :q,
                         params[:q],
                         placeholder: t('blacklight.search.form.search.placeholder'),
                         class: "search_q q form-control",
                         id: "q",
                         autofocus: should_autofocus_on_search_box?,
                         data: {
                             autocomplete_controller: "search_field",
                             autocomplete_config: "hithere",
                             autocomplete_enabled: autocomplete_enabled?,
                             autocomplete_path: blacklight.suggest_index_path }  %>
      
      <!--Keyboard drop down for special characters-->
      <span class="dropdown keyboard">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%=image_tag('keyboard-grey.svg', alt: 'Drop down menu for special character selection') %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <ul class="keyboard-list">
            <li><a href="#" id="thorn" class="dropdown-item" role="button" >Þ þ (thorn)</a></li>
            <li><a href="#" id="eth" class="dropdown-item" role="button" >Ð ð (eth)</a></li>
            <li><a href="#" id="yogh" class="dropdown-item" role="button" >Ȝ ȝ (yogh)</a></li>
            <li><a href="#" id="ash" class="dropdown-item" role="button" >Æ æ (ash)</a></li>
          </ul>
        </div>
      </span>

      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary search-btn" id="search">
          <span class="submit-search-text"><%= t('blacklight.search.form.submit') %></span>
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  </div>
<% end %>
