<%# doc_presenter = show_presenter(document) %>
<% doc_presenter = index_presenter(document) %>
<% ent = doc_presenter.entry %>

<%# default partial to display solr document fields in catalog show view -%>
<div class="entry-panel">

  <%# Display Heading for MED Entry %>
  <h2 class="entry-main-title">Middle English Dictionary Entry</h2>

  <%# Get headword and display it with quotes hide/show %>
  <div class="entry-heading">
    <div class="entry-container">
      <div class="entry-headword">
        <%== doc_presenter.headword_display(document) %>&nbsp;<span class="entry-pos"><%= ent.pos %></span>
      </div>

      <% if doc_presenter.senses.size > 0 %>
        <div class="quotations-header-options">
          <span class="quotations-header-options-text">Quotations:</span>
          <a class="show-all-button" href="#" onClick="$('.egs').show(); $('.quote-toggle.open').hide(); $('.quote-toggle.closer').show();return false;">Show
            all</a>
          <a class="hide-all-button" href="#" onClick="$('.egs').hide(); $('.quote-toggle.open').show(); $('.quote-toggle.closer').hide(); return false">Hide
            all</a>
        </div>
      <% end %>
    </div>
  </div>

  <%# Get forms and etymology and display %>
  <div>
    <h3 class="entry-intro-title">Entry Info</h3>
  </div>

  <div class="entry-info">
    <table class="table table-striped">
      <tr>
        <td class="forms-title">Forms</td>
        <td>
          <%== doc_presenter.form_html %>
        </td>
      </tr>
      <tr>
        <td class="etymology-title">Etymology</td>
        <td class="etymology-list">
          <%== doc_presenter.etym_html %>
        </td>
      </tr>
    </table>
  </div>


  <%# Get get senses plus their quotes and display %>

  <div class="senses">
    <h3 class="entry-senses-title">Definitions (Senses and Subsenses)</h3>

    <%= render "catalog/show_entry/sensestuff.html.erb",
               presenter: doc_presenter %>


  </div>


</div>
