<%# doc_presenter = show_presenter(document) %>
<% doc_presenter = index_presenter(document) %>
<% ent = doc_presenter.entry %>

<%# default partial to display solr document fields in catalog show view -%>
<div class="entry-panel">

  <%# Display Heading for MED Entry %>
  <h2 class="entry-main-title">Middle English Dictionary Entry</h2>

  <%# Get headword and display it with quotes hide/show %>
  <div class="entry-heading">
    <div class="entry-container">
      <div class="entry-headword">
        <%= ent.original_headwords.join(", ") %>&nbsp;<span class="entry-pos"><%= ent.pos %></span>
      </div>

      <% if doc_presenter.senses.size > 0 %>
        <div class="quotations-header-options">
          <span class="quotations-header-options-text">Quotations:</span>
          <a class="show-all-button" href="#" onClick="$('.eg').show(); return false;">Show
            all</a>
          <a class="hide-all-button" href="#" onClick="$('.eg').hide();return false">Hide
            all</a>
        </div>
      <% end %>
    </div>
  </div>

  <%# Get forms and etymology and display %>
  <div>
    <h3 class="entry-intro-title">Entry Info</h3>
  </div>

  <div class="table-responsive entry-info">
    <table class="table table-striped">
      <tr>
        <td class="forms-title">Forms</td>
        <td>
          <%== doc_presenter.form_html %>
        </td>
      </tr>
      <tr>
        <td class="etymology-title">Etymology</td>
        <td class="etymology-list">
          <%== doc_presenter.etym_html %>
        </td>
      </tr>
    </table>
  </div>


  <!--
  If we have senses
    display the heading
    foreach sense
      show the definition
      if we have egs
        show the collapse/expand link
        foreach eg
          display the eg subsense tag (if any)
          foreach cite
            display the cite

  One partial for the sense
    ...with one for an eg
    ...with one for a cite
    
  -->

  <%# Get get senses plus their quotes and display %>
  <% unless doc_presenter.senses.size == 0 %>
    <div class="senses">
      <div class="entry-senses-title">Senses and Subsenses</div>

      <% doc_presenter.senses.each_with_index do |sense, index| %>
        <%= render "catalog/show_entry/sense.html.erb", sense: sense, index: index, presenter: doc_presenter %>
      <% end %>
    </div>

  <% end %>


  <%# Get supplement and display %>
  <% show_sups = true %>
  <% sups = ent.supplements %>
  <% show_sups = !(sups.nil? || sups.empty?) %>


  <% if show_sups %>
    <h3 class="entry-supplemental-title">Supplemental Materials (draft)</h3>
    <div class="supplements-all">
    <% sups.each do |sup| %>
      <div class="entry-supplement">
        <%== doc_presenter.supplement_html(sup) %>
      </div>
    <% end %>
    </div>
  <% end %>

  </div>
