<section class="banner">
	<div class="container">
			<div class="col-sm-12">
				<div class="banner-text">
			    <h1 class="banner-text--large">Middle English Dictionary</h1>
			    <div class="banner-text--medium">
			    	<p>The world's largest searchable database of Middle English lexicon and usage for the period 1100-1500. An invaluable resource for lexicographers, language scholars, and all scholars in medieval studies.</p>
			   	 <%= link_to "Read more about the dictionary", about_path %>
			  	</div>

			    <div class="search-bar--home">
			     <%= render_search_bar  %>  
			    </div>

			    <p class="banner-text--caption">Image: The Ellesmer Manuscript of Geoffrey Chaucer's The Canterbury Tales, c. 1400-1405. Shown is the introduction to "The Knight's Tale." <a href="http://www.huntington.org/WebAssets/Templates/content.aspx?id=6074" target="
			    	blank"> Available online at the Huntington Library <%= image_tag('external-link-white.svg', alt: 'Opens in a new window') %></a></p>
			   </div>
			</div>
	</div>
</section>

<section class="fact-panel">
		<div class="container container--full">
			<div class="col-sm-12 padding0">
					<div class="col-sm-4">
						<ul>
              <li class="nav-detail--heading"><%= link_to "How to get started", help_root_path %></li>
							<li class="nav-detail--light">If you want to do more than just
                look up a word, learn about Dictionary, Bibliography,
                and Quotation Searches.</li>
							<li class="nav-detail--link"><%= link_to "Getting started", help_root_path %></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul>
              <li class="nav-detail--heading"><%= link_to "More ways to search", help_path('extended')%></li>
							<li class="nav-detail--light">You can change the scope of your search through the use of boolean and proximity operators and wildcard characters.</li>
              <li class="nav-detail--link"><%= link_to "Learn about extended search options", help_path('extended')%></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul>
              <li class="nav-detail--heading"><%= link_to "History of the MED", about_path %></li>
							<li class="nav-detail--light">Almost 90 years in the making, the MED will always be a team effort and a work in progress.</li>
							<li class="nav-detail--link"><%= link_to "Read more about the MED's history", about_path %></li>
						</ul>
				</div>
			</div>
		</div>
</section>
