<%#
    We can determine the current page with #curerent_page?, checking
    on the name of the controller %>

<%
  is_med = 'active' if controller_name == 'catalog'
  is_bib = 'active' if controller_name == 'bibliography'
%>

<ul class="header-nav-secondary">
   <li class="<%= is_med%>"><%= render partial: 'shared/nav/med' %></li>
   <li class="<%= is_bib%>"><%= render partial: 'shared/nav/bib' %></li>
   <li><%= render partial: 'shared/nav/corpus' %></li>
</ul>
