<%= extends :application do %>

  <%= replace :main do %>

    <div>

      <%= area :h1_wrap do %>
        <div class="row">
          <div class="col-md-9 col-md-offset-3 col-sm-8 col-sm-offset-4 col-xs-12">
            <h1><%= area :h1 %></h1>
          </div>
        </div>
      <% end %>

      <div class="row">
        <%= yield %>
      </div>

    </div>

  <% end %>

<% end %>
